In [1]:
#Read the following data set:
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
# Task:
# # 1. Create an sqlalchemy engine using a sample from the data set
# 2. Write two basic update queries
# 3. Write two delete queries
# 4. Write two filter queries
# 5. Write two function queries

In [2]:
# Create a sql db from adult dataset and name it sqladb
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlalchemy
import sqlite3 as db

In [3]:
#1. Create an sqlalchemy engine using a sample from the data set

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('sqlite:///:memory:',echo=True)

In [6]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [7]:
from sqlalchemy import Column, Integer, String

In [8]:
class Adults(Base):
    __tablename__ = 'adults'
    extend_existing=True
    
    id = Column(Integer, primary_key=True)
    age = Column(Integer)
    workclass =  Column(String)
    fnlwgt = Column(String)      
    education = Column(String)
    educationnum = Column(String)
    maritalstatus = Column(String)
    occupation = Column(String)
    relationship = Column(String)
    race = Column(String)
    sex = Column(String)
    capitalgain = Column(String)
    capitalloss = Column(String)
    hoursperweek = Column(String)
    nativecountry = Column(String)
    totalgain =  Column(String)
    
    def __repr__(self):
        return "<Adults(age='%s', workclass='%s', fnlwgt='%s',capitalloss=%s)>" % (self.age, self.workclass, self.fnlwgt,
                                                                                  self.capitalloss)

In [9]:
Base.metadata.create_all(engine)

2018-11-24 23:02:57,503 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-24 23:02:57,519 INFO sqlalchemy.engine.base.Engine ()
2018-11-24 23:02:57,522 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-24 23:02:57,524 INFO sqlalchemy.engine.base.Engine ()
2018-11-24 23:02:57,528 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adults")
2018-11-24 23:02:57,531 INFO sqlalchemy.engine.base.Engine ()
2018-11-24 23:02:57,537 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adults (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR,
	fnlwgt VARCHAR,
	education VARCHAR,
	educationnum VARCHAR,
	maritalstatus VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capitalgain VARCHAR,
	capitalloss VARCHAR,
	hoursperweek VARCHAR,
	nativecountry VARCHAR,
	totalgain VARCHAR,
	PRIMARY KEY (id)
)


2018-11-24 23:02:57,540 INFO sqlalchemy.engine.base.Engine ()
2018-11-24 23:02:57,543 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
from sqlalchemy.orm import sessionmaker

In [11]:
Session = sessionmaker(bind=engine)
Session.configure(bind=engine)
session = Session()

In [12]:
session.add_all([Adults(age=50, workclass=' Self-emp-not-inc',fnlwgt=' 83311', education='Bachelors', educationnum='13',
                   maritalstatus=' Married-civ-spouse', occupation=' Exec-managerial', relationship=' Husband', 
                   race=' White',sex= ' Male',capitalgain=' 04', capitalloss=' 0', hoursperweek=' 13',
                   nativecountry=' United-States', totalgain=' <=50K\n'),
            Adults(age=38, workclass=' Private',fnlwgt=' 215646', education='HS-grad', educationnum='9',
                   maritalstatus=' Divorced', occupation=' Handlers-cleaners', relationship=' Not-in-family', 
                   race=' White',sex= ' Male',capitalgain=' 0', capitalloss=' 0', hoursperweek=' 40',
                   nativecountry=' United-States', totalgain=' <=50K\n'),
            Adults(age=39, workclass='State-gov',fnlwgt='77516', education='Bachelors', educationnum='13',maritalstatus=' Never-married',
                    occupation=' Adm-clerical', relationship=' Not-in-family', race=' White',sex= ' Male',capitalgain=' 2174', 
                    capitalloss=' 0', hoursperweek=' 40', nativecountry=' United-States', totalgain=' <=50K\n'),
            Adults(age=53, workclass='Private',fnlwgt='234721', education='11th', educationnum='7',maritalstatus=' Married-civ-spouse',
                    occupation=' Handlers-cleaners', relationship=' Husband', race=' Black',sex= ' Male',capitalgain=' 0', 
                    capitalloss=' 0', hoursperweek=' 40', nativecountry=' United-States', totalgain=' <=50K\n')])

In [13]:
our_adults = session.query(Adults).all()

2018-11-24 23:03:13,598 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-24 23:03:13,605 INFO sqlalchemy.engine.base.Engine INSERT INTO adults (age, workclass, fnlwgt, education, educationnum, maritalstatus, occupation, relationship, race, sex, capitalgain, capitalloss, hoursperweek, nativecountry, totalgain) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-11-24 23:03:13,608 INFO sqlalchemy.engine.base.Engine (50, ' Self-emp-not-inc', ' 83311', 'Bachelors', '13', ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', ' 04', ' 0', ' 13', ' United-States', ' <=50K\n')
2018-11-24 23:03:13,611 INFO sqlalchemy.engine.base.Engine INSERT INTO adults (age, workclass, fnlwgt, education, educationnum, maritalstatus, occupation, relationship, race, sex, capitalgain, capitalloss, hoursperweek, nativecountry, totalgain) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-11-24 23:03:13,613 INFO sqlalchemy.engine.base.Engine (38, ' Private', ' 215646', 'HS-grad', '9', ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', ' 0', ' 0', ' 40', ' United-States', ' <=50K\n')
2018-11-24 23:03:13,616 INFO sqlalchemy.engine.base.Engine INSERT INTO adults (age, workclass, fnlwgt, education, educationnum, maritalstatus, occupation, relationship, race, sex, capitalgain, capitalloss, hoursperweek, nativecountry, totalgain) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-11-24 23:03:13,618 INFO sqlalchemy.engine.base.Engine (39, 'State-gov', '77516', 'Bachelors', '13', ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0', ' 40', ' United-States', ' <=50K\n')
2018-11-24 23:03:13,621 INFO sqlalchemy.engine.base.Engine INSERT INTO adults (age, workclass, fnlwgt, education, educationnum, maritalstatus, occupation, relationship, race, sex, capitalgain, capitalloss, hoursperweek, nativecountry, totalgain) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-11-24 23:03:13,623 INFO sqlalchemy.engine.base.Engine (53, 'Private', '234721', '11th', '7', ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', ' 0', ' 0', ' 40', ' United-States', ' <=50K\n')
2018-11-24 23:03:13,629 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.totalgain AS adults_totalgain
FROM adults
2018-11-24 23:03:13,631 INFO sqlalchemy.engine.base.Engine ()

In [15]:
# 2. Write two basic update queries
adult1 = session.query(Adults).filter_by(age=39).first()  # Fetch the rows that need to be updated
adult2 = session.query(Adults).filter_by(age=50).first()  # Fetch row two that need to be updated

2018-11-24 23:04:02,323 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.totalgain AS adults_totalgain
FROM adults
WHERE adults.age = ?
 LIMIT ? OFFSET ?
2018-11-24 23:04:02,325 INFO sqlalchemy.engine.base.Engine (39, 1, 0)
2018-11-24 23:04:02,332 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.totalgain AS adults_totalgain
FROM adults
WHERE adults.age = ?
 LIMIT ? OFFSET ?
2018-11-24 23:04:02,334 INFO sqlalchemy.engine.base.Engine (50, 1, 0)

In [16]:
adult1.fnlwgt = 111111 # Update fnlwgt of Row with age 39 
adult2.fnlwgt = 222222 # Update fnlwgt of Row with age 50 
session.query(Adults).all()

2018-11-24 23:04:04,984 INFO sqlalchemy.engine.base.Engine UPDATE adults SET fnlwgt=? WHERE adults.id = ?
2018-11-24 23:04:04,987 INFO sqlalchemy.engine.base.Engine ((222222, 1), (111111, 3))
2018-11-24 23:04:04,992 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.totalgain AS adults_totalgain
FROM adults
2018-11-24 23:04:04,995 INFO sqlalchemy.engine.base.Engine ()

[<Adults(age='50', workclass=' Self-emp-not-inc', fnlwgt='222222',capitalloss= 0)>,
 <Adults(age='38', workclass=' Private', fnlwgt=' 215646',capitalloss= 0)>,
 <Adults(age='39', workclass='State-gov', fnlwgt='111111',capitalloss= 0)>,
 <Adults(age='53', workclass='Private', fnlwgt='234721',capitalloss= 0)>]

In [17]:
#3.Write two delete queries
session.delete(adult1) # Delete row with age 39
session.delete(adult2) # Delete row with age 50

In [18]:
session.query(Adults).all()

2018-11-24 23:04:12,392 INFO sqlalchemy.engine.base.Engine DELETE FROM adults WHERE adults.id = ?
2018-11-24 23:04:12,395 INFO sqlalchemy.engine.base.Engine ((1,), (3,))
2018-11-24 23:04:12,399 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.totalgain AS adults_totalgain
FROM adults
2018-11-24 23:04:12,401 INFO sqlalchemy.engine.base.Engine ()

[<Adults(age='38', workclass=' Private', fnlwgt=' 215646',capitalloss= 0)>,
 <Adults(age='53', workclass='Private', fnlwgt='234721',capitalloss= 0)>]

In [19]:
# 4. Write two filter queries
for u in session.query(Adults).order_by(Adults.id)[1:3]:
    print(u)

2018-11-24 23:04:16,249 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.totalgain AS adults_totalgain
FROM adults ORDER BY adults.id
 LIMIT ? OFFSET ?
2018-11-24 23:04:16,252 INFO sqlalchemy.engine.base.Engine (2, 1)
<Adults(age='53', workclass='Private', fnlwgt='234721',capitalloss= 0)>

In [20]:
for a in session.query(Adults).\
        filter(Adults.age<50):
    print(a)

2018-11-24 23:04:18,816 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.totalgain AS adults_totalgain
FROM adults
WHERE adults.age < ?
2018-11-24 23:04:18,819 INFO sqlalchemy.engine.base.Engine (50,)
<Adults(age='38', workclass=' Private', fnlwgt=' 215646',capitalloss= 0)>

In [21]:
# 5. Write two function queries
from sqlalchemy import func
# Query to fetch the count of Adults grouped by age
session.query(func.count(Adults.age), Adults.age).group_by(Adults.age).all()

2018-11-24 23:04:21,955 INFO sqlalchemy.engine.base.Engine SELECT count(adults.age) AS count_1, adults.age AS adults_age
FROM adults GROUP BY adults.age
2018-11-24 23:04:21,958 INFO sqlalchemy.engine.base.Engine ()

[(1, 38), (1, 53)]

In [22]:
# Query to fetch the count of rows in Adults Table
session.query(func.count('*')).select_from(Adults).scalar()

2018-11-24 23:04:24,672 INFO sqlalchemy.engine.base.Engine SELECT count(?) AS count_1
FROM adults
2018-11-24 23:04:24,675 INFO sqlalchemy.engine.base.Engine ('*',)

2